code {
  color: orange;
  background: lightgray;
  padding: 3px;
  border: 1px solid orange;
}

kbd {
  padding: 0 3px;
  border-radius: 3px;
  border-top: 2px solid rgb(240, 240, 240);
  border-bottom: 2px solid rgb(240, 240, 240);
  border-right: 2px solid rgb(240, 240, 240);

  border-left: 2px solid rgb(240, 240, 240);
}

.bold {
  font-weight: bold;
  color: red;
  font-size: 20px;
}

p {
  line-height: 59px;
}
